body {
    margin: 0;
}

nav {
    background-color: #f3f3f3;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;

    position: absolute;
    top: 0;
    left: 0;
    right: 0;

    transition: all .5s ease-in-out;
}

#open-button {
    height: 40px;
    margin-right: 10px;
}

#close-button {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 10px;
    height: 60px;
}

h1 {
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 10px;

    color: #4c545c;

    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 36px;
}

aside {
    position: absolute;
    top: 0;
    left: -260px;
    bottom: 0;

    width: 260px;

    background-color: #40be90;

    transition: all .5s ease-in-out;
}

.show {
    left: 0;
}

.hide {
    left: 260px;
    right: -260px;
}